<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body pt-0 pr-0 pb-0 pl-0">
        <div class="table-responsive">
          <table class="table table-borderless table-hover mb-0">
            <thead style="border-bottom: 1px solid #839496;">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Site</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            
            <tbody>
              <%= render @suggests %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
