<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">What...</h5>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2">is our service?</h6>
        <p class="card-text">We bring all running and future contests between your hands from many different online judges.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">Why...</h5>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2">we do this?</h6>
        <p class="card-text">We believe we can save your time and let you touch the information from many different places, in one place.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">How...</h5>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2">we pay?</h6>
        <p class="card-text">We use a free host which is <%= link_to('Heroku', 'https://heroku.com', target: :_blank) %>,
                             so we pay only for the domain till now, but the free host is very
                             weak, it shutdown every 30 minutes if no one visit the site and has only 500MB storage space, so
                             if you want to help up you can donate here <%= icon('far', 'smile') %>.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0">Where...</h5>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2">are we from?</h6>
        <p class="card-text">We are from competitive programming society.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Who...</h5>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2">is our team?</h6>
        <p class="card-text">For now I'm alone <%= icon('far', 'frown') %>, but if you want to help and be in our KONTESTS team,
                             then come in <%= icon('far', 'smile') %>, there is a lot of ideas and projects we can build above on
                             this service.</p>
      </div>
    </div>
  </div>
</div>
