/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootswatch/superhero/variables";
@import "bootstrap";
@import "bootswatch/superhero/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
	outline: none !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex: 0 0 auto;
  background-color: #4E5D6C;
  padding: 10px 0px 10px 0px;
}

.grey {
  color: #EBEBEB !important;
}

.browser-extension {
  color: #EBEBEB;

  &:hover {
    color: #DF691A;
    transition: 0.25s;
    -webkit-transition: 0.25s;
  }
}

/* BOOTSTRAP */

.navbar {
  font-size: 1.2rem;

  .navbar-brand {
    font-size: 1.5rem;
  }
}

.table {
  white-space: nowrap;
}

.center-pills {
  display: flex;
  justify-content: center;
}

.text-pre-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
