<footer id="footer" class="mt-4">
  <div class="container-fluid">
    <div class="row justify-content-center text-center text-lg-left">
      <div class="col-12 col-lg-11">
        <span>KONTESTS &copy; Copyright 2018-<%= Time.now.year %> <%= link_to('AliOsm', 'https://fb.com/AliOsm97', target: :_blank) %> All Rights Reserved</span>
        <br>
        <span class="text-muted">Designed and built with all the &nbsp;<span class="heart"><%= emojify(':heart:') %></span>&nbsp; in the world</span>
      </div>
    </div>
  </div>
</footer>
