<div class="row justify-content-center">
	<div class="col-12 col-lg-10">
		<% flash.each do |type, message| %>
		  <div class="my-5 alert alert-<%= type == 'alert' ? 'danger' : 'primary' %> fade-in">
		    <%= message %>

		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		<% end %>
	</div>
</div>